.DS_Store
__pycache__
/.idea/
/.pytest_cache/
/.run/
/.venv/
/.vscode/
/.zed/
/allure-report/
/allure-results/
# /pages/__pycache__/
# /pages/Education/__pycache__/
# /pages/Markets/__pycache__/
/report/
# /src/__pycharm__/
# /test_data/__pycache__/
# /tests/__pycache__/
# /tests/Capital/__pycache__/
# /tests/Education/__pycache__/
# /tests/Markets/__pycache__/
# /*/__pycache__/
# /*/*/__pycache__/
# /*/*/*/__pycache__/
tests/hwinfo.txt
tests/hwinfo_example.py
__init__.py
geckodriver.log
poetry.lock
qodana.yaml
tests/US_11_Education/US_11-01-01_basics_of_trading/allure-results
tests/US_11_Education/US_11-01-01_basics_of_trading/allure-report
tests/US_11_Education/US_11-01-01_basics_of_trading/report
tests/US_11_Education/US_11-01-02_Trading_courses/allure-results
tests/US_11_Education/US_11-01-02_Trading_courses/allure-report
tests/US_11_Education/US_11-01-02_Trading_courses/report
tests/US_11_Education/US_11-01-03_cfd_trading_guide/list_of_href.txt
tests/US_11_Education/US_11-01-05_Trading_courses/list_of_href.txt
tests/US_11_Education/US_11-01-06_investmate_app/list_of_href.txt
tests/US_11_Education/US_11-01-07_Glossary/allure-results
tests/US_11_Education/US_11-01-07_Glossary/allure-report
tests/US_11_Education/US_11-01-07_Glossary/report
tests/US_11_Education/US_11-01-07_Glossary/list_of_href.txt
tests/US_11_Education/US_11-02-02_Shares_trading/allure-results
tests/US_11_Education/US_11-02-02_Shares_trading/allure-report
tests/US_11_Education/US_11-02-02_Shares_trading/report
tests/US_11_Education/US_11-02-02_Shares_trading/list_of_href.txt
tests/US_11_Education/US_11-02-02_Shares_trading/temp.py
tests/US_11_Education/US_11-02-03_Commodities_trading/allure-results
tests/US_11_Education/US_11-02-03_Commodities_trading/allure-report
tests/US_11_Education/US_11-02-03_Commodities_trading/report
tests/US_11_Education/US_11-02-03_Commodities_trading/list_of_href.txt
tests/US_11_Education/US_11-02-04_Forex_trading/list_of_href.txt
tests/US_11_Education/US_11-02-05_Cryptocurrency_trading/list_of_href.txt
tests/US_11_Education/US_11-02-06_Indices_trading/list_of_href.txt
tests/US_11_Education/US_11-02-07_ETF_trading/list_of_href.txt
tests/US_11_Education/US_11-03-01_trading_strategies_guide/list_of_href.txt
tests/US_11_Education/US_11-03-01_trading_strategies_guide/allure-results
tests/US_11_Education/US_11-03-01_trading_strategies_guide/report
tests/US_11_Education/US_11-03-08_Trading_Psychology_Guide/list_of_href.txt
tests/US_11_Education/US_11-01-06_investmate_app/temp.py
qr_image.png
